volumes:
  dev_traefik: {}


services:
  django:
    platform: linux/arm64
    build:
      platforms:
        - linux/arm64
      context: .
      dockerfile: ./compose/dev/django/Dockerfile
      tags:
        - ${ECR_REGISTRY:-registry}/${ECR_REPOSITORY:-django-dev}:${IMAGE_TAG:-latest}
        - ${ECR_REGISTRY:-registry}/${ECR_REPOSITORY:-django-dev}:latest
        - knowledge_commons_profiles_dev_django:${IMAGE_TAG:-latest}
        - knowledge_commons_profiles_dev_django:latest
    image: knowledge_commons_profiles_dev_django
    depends_on:
      - redis
    env_file:
      - ./.envs/.dev/.django
    command: /start

  traefik:
    build:
      context: .
      dockerfile: ./compose/dev/traefik/Dockerfile
      tags:
        - ${ECR_REGISTRY:-registry}/${ECR_REPOSITORY_TRAEFIK:-traefik-dev}:${IMAGE_TAG}
        - ${ECR_REGISTRY:-registry}/${ECR_REPOSITORY_TRAEFIK:-traefik-dev}:latest
        - knowledge_commons_profiles_dev_traefik:${IMAGE_TAG}
        - knowledge_commons_profiles_dev_traefik:latest
    image: knowledge_commons_profiles_dev_traefik
    depends_on:
      - django
    volumes:
      - dev_traefik:/etc/traefik/acme
    ports:
      - '0.0.0.0:80:80'

  redis:
    image: docker.io/redis:6
