requests
bs4
lxml
django
django-debug-toolbar
sqloxide
rich
tqdm
psycopg2-binary
mysqlclient
djangorestframework
markdown
django-filter
grafana-django-saml2-auth
# Needs: xmlsec1 library from distribution
sphinx
bleach
crispy-bootstrap5
django-crispy-forms
