{% if blog_posts|length > 0 %}
  <ul>
    {% for post in blog_posts %}
      <li>
        <a href="https://{{ post.blogdomain }}{{ post.blogpath }}{{ post.post_date|date:'Y' }}/{{ post.post_date|date:'m' }}/{{ post.post_date|date:'d' }}/{{ post.post_name }}/">
          {{ post.post_title }}
        </a>
        (<i>{{ post.blogname }}</i>, {{ post.post_date|date:'Y-m-d' }})
      </li>
    {% endfor %}
  </ul>
{% else %}
    <script type="text/javascript">
        $("#blog-posts-container").hide();
    </script>
  <p class="no-posts">No blog posts available.</p>
{% endif %}