log:
  level: INFO

entryPoints:
  web:
    # http
    address: ':80'

  ping:
    address: ":8082"

ping:
  entryPoint: "ping"

http:
  routers:
    web-router:
      rule: 'Host(`profile.hcommons-dev.org`) || Host(`www.profile.hcommons-dev.org`)'
      entryPoints:
        - web
      service: django
    localhost-router:
      rule: 'Host(`localhost`)'
      entryPoints:
        - web
      service: django
    health-check-router:
      rule: 'Path(`/health/`)'
      priority: 100
      entryPoints:
        - web
      service: django

  services:
    django:
      loadBalancer:
        servers:
          - url: http://django:5000

providers:
  # https://doc.traefik.io/traefik/master/providers/file/
  file:
    filename: /etc/traefik/traefik.yml
    watch: true
