{% load version %}
<ul class="sidebar-menu">
    <li class="sidebar-item">
        <a href="https://hcommons.org/activity/" class="sidebar-link">
            <i class="fas fa-newspaper"></i>
            <span>News Feed</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="{% url "members" %}" class="sidebar-link">
            <i class="fas fa-users"></i>
            <span>Members</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="https://hcommons.org/groups/" class="sidebar-link">
            <i class="fas fa-user-friends"></i>
            <span>Groups</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="https://hcommons.org/sites/" class="sidebar-link">
            <i class="fas fa-globe"></i>
            <span>Sites</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="https://works.hcommons.org/" class="sidebar-link">
            <i class="fas fa-book"></i>
            <span>Works</span>
        </a>
    </li>

    <div class="sidebar-divider"></div>

    <li class="sidebar-item">
        <a href="https://support.hcommons.org/" class="sidebar-link">
            <i class="fas fa-question-circle"></i>
            <span>Help & Support</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="https://hcommons.org/societies/" class="sidebar-link">
            <i class="fas fa-building"></i>
            <span>KC Organizations</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="https://sustaining.hcommons.org/" class="sidebar-link">
            <i class="fas fa-info-circle"></i>
            <span>About the Commons</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="https://team.hcommons.org/" class="sidebar-link">
            <i class="fas fa-pencil-alt"></i>
            <span>Team Blog</span>
        </a>
    </li>
    <li class="sidebar-item" id="logout">
    </li>
    <li class="version">Version {% version %}</li>
</ul>
