{% load version %}
<ul class="sidebar-menu">
    <li class="sidebar-item">
        <a href="{{ NAV_NEWS_FEED_URL }}" class="sidebar-link">
            <i class="fas fa-newspaper"></i>
            <span>News Feed</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="{% url "members" %}" class="sidebar-link">
            <i class="fas fa-users"></i>
            <span>Members</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="{{ NAV_GROUPS_URL }}" class="sidebar-link">
            <i class="fas fa-user-friends"></i>
            <span>Groups</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="{{ NAV_SITES_URL }}" class="sidebar-link">
            <i class="fas fa-globe"></i>
            <span>Sites</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="{{ NAV_WORKS_URL }}" class="sidebar-link">
            <i class="fas fa-book"></i>
            <span>Works</span>
        </a>
    </li>

    <div class="sidebar-divider"></div>

    <li class="sidebar-item">
        <a href="{{ NAV_SUPPORT_URL }}" class="sidebar-link">
            <i class="fas fa-question-circle"></i>
            <span>Help & Support</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="{{ NAV_ORGANIZATIONS_URL }}" class="sidebar-link">
            <i class="fas fa-building"></i>
            <span>KC Organizations</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="{{ NAV_ABOUT_URL }}" class="sidebar-link">
            <i class="fas fa-info-circle"></i>
            <span>About the Commons</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="{{ NAV_BLOG_URL }}" class="sidebar-link">
            <i class="fas fa-pencil-alt"></i>
            <span>Team Blog</span>
        </a>
    </li>
    {% if request.user.is_authenticated %}
    <li class="sidebar-item" id="logout">
        <a href="{% url 'logout' %}" class="sidebar-link">
            <i class="fas fa-sign-out"></i>
            <span>Logout</span>
        </a>
    </li>
    {% endif %}
    <li class="version">Version {% version %}</li>
</ul>
