<!-- logged in header -->
{% if logged_in_user %}
  <!-- user logged in section -->
  <div class="user-info" id="user-info" hx-swap-oob="true">
      <span class="user-name" id="logged-in-user">{{ logged_in_profile.name }}</span>
    <a data-bs-toggle="modal" data-bs-target="#avatarModal"><img src="{{ logged_in_profile_image }}" alt="{{ logged_in_profile.name }}" /></a>
  </div>

  <li class="sidebar-item" hx-swap-oob="true" id="logout">
      <a href="{{ logout_url }}" class="sidebar-link">
          <i class="fas fa-sign-out"></i>
          <span>Logout</span>
      </a>
  </li>

  <!-- notifications -->
  {% if notification_count %}
  <div class="notifications-container" hx-swap-oob="true" id="notifications-container">
    <div class="notifications">
      <i class="fas fa-bell"></i>
      <span class="notifications-count" id="notifications-count">{{ notification_count }}</span>
      {% if notification_count > 0 %}
        <div class="dropdown-menu">
          {% for notification in short_notifications %}
            {% if notification.2 == False %}
              <a href="{{ notification.1 }}">{{ notification.0 }}</a>
            {% else %}
              {% if notification.1 %}
                <a href="{% url ""|add:notification.1.0 notification.1.1 %}">{{ notification.0 }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  {% else %}
    <div class="notifications-container" hx-swap-oob="true" id="notifications-container">
      <div class="notifications">
        <i class="fas fa-bell"></i>
      </div>
    </div>
  {% endif %}

  {% else %}
    <!-- not logged in -->
    <div id="user-info" hx-swap-oob="true"><a href="https://hcommons.org/wp-login.php?redirect_to=https%3A%2F%2Fprofile.hcommons.org%2Fmy_profile%2F" class="login-link">Login</a></div>

    <!-- notifications -->
    <div class="hide" hx-swap-oob="true" id="notifications-container"></div>
{% endif %}
