<!-- logged in header -->
{% if logged_in_user %}
  <!-- user logged in section -->
  <div class="user-info" id="user-info" hx-swap-oob="true">
    <a href="{% url 'my_profile' %}">
      <span class="user-name" id="logged-in-user">{{ logged_in_profile.name }}</span>
      <img src="{{ logged_in_profile_image }}" alt="{{ logged_in_profile.name }}" />
    </a>
  </div>

  <!-- notifications -->
  {% if notification_count %}
  <div class="notifications-container" hx-swap-oob="true" id="notifications-container">
    <div class="notifications">
      <i class="fas fa-bell"></i>
      <span class="notifications-count" id="notifications-count">{{ notification_count }}</span>
      {% if notification_count > 0 %}
        <div class="dropdown-menu">
          {% for notification in short_notifications %}
            {% if notification.2 == False %}
              <a href="{{ notification.1 }}">{{ notification.0 }}</a>
            {% else %}
              {% if notification.1 %}
                <a href="{% url ""|add:notification.1.0 notification.1.1 %}">{{ notification.0 }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  {% else %}
    <div class="notifications-container" hx-swap-oob="true" id="notifications-container">
      <div class="notifications">
        <i class="fas fa-bell"></i>
      </div>
    </div>
  {% endif %}

  {% else %}
    <!-- not logged in -->
    <div id="user-info" hx-swap-oob="true"><a href="{% url 'login' %}" class="login-link">Login</a></div>

    <!-- notifications -->
    <div class="hide" hx-swap-oob="true" id="notifications-container"></div>
{% endif %}
