{% if username %}

  {% for badge in memberships %}
    <a class="society-badge-wrap"
       href="https://{{ badge|lower }}.hcommons.org/members"><span class="society-badge {{ badge|lower }}">{{ badge }}</span></a>
  {% endfor %}

{% else %}
  <div id="membership-badges" class="hide" hx-swap-oob="true">
  </div>
{% endif %}

<h3 class="stat-header" id="following" hx-swap-oob="true">Following {{ follower_count }} members</h3>

{% if groups|length > 0 %}
  <div class="content-card" id="commons-groups" hx-swap-oob="true">
      <h3 class="card-title">Commons Groups</h3>
      {% for group in groups %}
      <div class="commons-group">
          <a class="interest-link" href="https://hcommons.org/groups/{{ group.group.slug }}/">{{ group.group.name }}</a>
      </div>
      {% endfor %}
  </div>
{% else %}
  <div class="hide" id="commons-groups" hx-swap-oob="true"></div>
{% endif %}

{% if activities|length > 0 %}
  <div class="content-card" id="commons-activity" hx-swap-oob="true">
    <h3 class="card-title">Recent Commons Activity</h3>
    <ul class="activity-list">
      {% for activity in activities %}
        {% spaceless %}
          <li>{{ activity.action|safe }}</li>
        {% endspaceless %}
      {% endfor %}
    </ul>
  </div>
{% else %}
  <div class="hide" id="commons-activity" hx-swap-oob="true">
  </div>
{% endif %}

{% if commons_sites|length > 0 %}
  <div id="commons-sites" class="content-card" hx-swap-oob="true">
    <h3>Commons Sites</h3>
    <ul class="commons-sites-list">
      {% for site in commons_sites %}
        <li>
          <a href="https://{{ site.1 }}">{{ site.0 }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <div class="hide" id="commons-sites" hx-swap-oob="true">
  </div>
{% endif %}

<!-- logged in header -->
{% if logged_in_user %}
  <!-- user logged in section -->
  <div class="user-info" id="user-info" hx-swap-oob="true">
      <span class="user-name" id="logged-in-user">{{ logged_in_profile.name }}</span>
      <img src="{{ logged_in_profile_image }}" alt="{{ logged_in_profile.name }}" />
  </div>

  <li class="sidebar-item" hx-swap-oob="true" id="logout">
      <a href="{{ logout_url }}" class="sidebar-link">
          <i class="fas fa-sign-out"></i>
          <span>Logout</span>
      </a>
  </li>

  <!-- notifications -->
  {% if notification_count %}
  <div class="notifications-container" hx-swap-oob="true" id="notifications-container">
    <div class="notifications">
      <i class="fas fa-bell"></i>
      <span class="notifications-count" id="notifications-count">{{ notification_count }}</span>
      {% if notification_count > 0 %}
        <div class="dropdown-menu">
          {% for notification in short_notifications %}
            {% if notification.2 == False %}
              <a href="{{ notification.1 }}">{{ notification.0 }}</a>
            {% else %}
              {% if notification.1 %}
                <a href="{% url ""|add:notification.1.0 notification.1.1 %}">{{ notification.0 }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  {% else %}
    <div class="notifications-container" hx-swap-oob="true" id="notifications-container">
      <div class="notifications">
        <i class="fas fa-bell"></i>
      </div>
    </div>
  {% endif %}

  {% else %}
  <!-- not logged in -->
  <div class="hide" id="user-info" hx-swap-oob="true"></div>

  <!-- notifications -->
  <div class="hide" hx-swap-oob="true" id="notifications-container"></div>
{% endif %}
