{% if username %}

  {% for badge in memberships %}
    <a class="society-badge-wrap"
       href="https://{{ badge|lower }}.hcommons.org/members"><span class="society-badge {{ badge|lower }}">{{ badge }}</span></a>
  {% endfor %}

{% else %}
  <div id="membership-badges" class="hide" hx-swap-oob="true">
  </div>
{% endif %}

<h3 class="stat-header" id="following" hx-swap-oob="true">Following {{ follower_count }} members</h3>

{% if groups|length > 0 and profile.profile.show_commons_groups %}
  <div class="content-card" id="commons-groups" hx-swap-oob="true">
      <h3 class="card-title">Commons Groups</h3>
      {% for group in groups %}
      <ul class="interests-list">
          <li class="interest-item"><a class="interest-link" href="https://hcommons.org/groups/{{ group.slug }}/">{{ group.group_name }}</a></li>
      </ul>
      {% endfor %}
  </div>
{% else %}
  <div class="hide" id="commons-groups" hx-swap-oob="true"></div>
{% endif %}

{% if activities|length > 0 and profile.profile.show_recent_activity %}
  <div class="content-card" id="commons-activity" hx-swap-oob="true">
    <h3 class="card-title">Recent Commons Activity</h3>
    <ul class="activity-list">
      {% for activity in activities %}
        {% spaceless %}
          <li>{{ activity.action|safe }}</li>
        {% endspaceless %}
      {% endfor %}
    </ul>
  </div>
{% else %}
  <div class="hide" id="commons-activity" hx-swap-oob="true">
  </div>
{% endif %}

{% if commons_sites|length > 0 and profile.profile.show_commons_sites %}
  <div id="commons-sites" class="content-card" hx-swap-oob="true">
    <h3>Commons Sites</h3>
    <ul class="commons-sites-list">
      {% for site in commons_sites %}
        <li>
          <a href="https://{{ site.1 }}">{{ site.0 }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <div class="hide" id="commons-sites" hx-swap-oob="true">
  </div>
{% endif %}
