{% load static %}

{% if about_user %}
  {{ about_user|safe|linebreaksbr }}
{% else %}
  This user has not yet completed their profile.
{% endif %}
{% if education %}
  <div class="education hideable" id="education" hx-swap-oob="true">
    <h4>Education</h4>
    {{ education|safe|linebreaksbr }}
  </div>
{% else %}
  <div class="education hideable" id="education" hx-swap-oob="true">
    <script type="text/javascript">
      $("#education").hide();
    </script>
    <p class="no-posts">No education info.</p>
  </div>
{% endif %}
<div id="academic-interests-container"
     class="academic-interests wordblock"
     hx-swap-oob="true">
  <h4>Academic Interests</h4>
  <ul>
    {% for interest in academic_interests %}
      <li>
        <!-- djlint:off --><a href="/?s={{ interest }}&#038;post_type%5B0%5D=user" rel="nofollow">{{ interest }}</a><!-- djlint:on -->
      </li>
    {% endfor %}
  </ul>
</div>
{% if profile_info.twitter %}
  <div id="twitter" hx-swap-oob="true">
    <img style="width:14px"
         src="{% static "img/Twitter_Logo_Blue.png" %}"
         alt="Twitter" />
    <a href="https://twitter.com/{{ profile_info.twitter }}" rel="me">@{{ profile_info.twitter }}</a>
  </div>
{% endif %}
{% if profile_info.mastodon %}
  <div id="mastodon" hx-swap-oob="true">
    <img style="width:14px"
         src="{% static "img/mastodon.png" %}"
         alt="mastodon" />
    <a href='https://{{ profile_info.mastodon_server }}/@{{ profile_info.mastodon_username }}'
       rel='me'>{{ profile_info.mastodon }}</a>
  </div>
{% endif %}
{% if profile_info.bluesky %}
  <div id="bluesky" hx-swap-oob="true">
    <img style="width: 14px"
         src="{% static "/static/img/bluesky.png" %}"
         alt="Bluesky" />
    <a href="https://bsky.app/profile/{{ profile_info.bluesky }}" rel="me">{{ profile_info.bluesky }}</a>
  </div>
{% endif %}
{% if profile_info.name %}
  <title hx-swap-oob="true">Profile for {{ profile_info.name }}</title>
  <h4 class="name" id="name" hx-swap-oob="true">
    {% if profile_info.name %}
      {{ profile_info.name }}
    {% else %}
      Anonymous User
    {% endif %}
  </h4>
{% endif %}
{% if profile_info.title %}<h4 class="title" id="title" hx-swap-oob="true">{{ profile_info.title }}</h4>{% endif %}
{% if profile_info.institutional_or_other_affiliation %}
  <h4 class="affiliation" id="affiliation" hx-swap-oob="true">
    <!-- djlint:off --><a href="/?s={{ profile_info.institutional_or_other_affiliation }}#038;post_type%5B0%5D=user"
    rel="nofollow">{{ profile_info.institutional_or_other_affiliation }}</a><!-- djlint:on -->
  </h4>
{% endif %}
{% if profile_info.orcid %}
  <div class="orcid" id="orcid" hx-swap-oob="true">
    <img src="{% static "img/iD-icon.png" %}" alt="ORCID" />
    <a href="https://orcid.org/{{ profile_info.orcid }}" rel="me">{{ profile_info.orcid }}</a>
  </div>
{% endif %}
{% if profile_info.publications %}
  <div id="publications-container"
       class="publications hideable show-more js-dynamic-height"
       hx-swap-oob="true">
    <h4>Publications</h4>
    {{ profile_info.publications | safe | linebreaksbr }}
  </div>
{% else %}
  <div class="publications hideable"
       id="publications-container"
       hx-swap-oob="true">
    <script type="text/javascript">
      $("#publications-container").hide();
    </script>
    <p class="no-posts">No publication info.</p>
  </div>
{% endif %}
{% if profile_info.projects %}
  <div id="projects-container" class="projects hideable" hx-swap-oob="true">
    <h4>Projects</h4>
    {{ profile_info.projects | safe | linebreaksbr }}
  </div>
{% else %}
  <div class="projects hideable" id="projects-container" hx-swap-oob="true">
    <script type="text/javascript">
      $("#projects-container").hide();
    </script>
    <p class="no-posts">No projects info.</p>
  </div>
{% endif %}
