{% extends "base.html" %}

{% block title %}
  Account Association
{% endblock title %}
{% block content %}
  <div class="container" id="main_container">
    <div class="row">
      <div class="col-12">
        <h1 class="h1-associate">Welcome to Knowledge Commons</h1>
        <h3 class="h3-associate">We need to finish setting up your account.</h3>
        <div>
          <div class="associate-steps">
            <div class="associate-step">
              If you already have a Knowledge Commons account, please enter your existing account email below. If you are new to the Commons, enter the email address you'd like associated with your account below.
              <div>
                <form class="form-associate" action="{% url 'associate' %}" method="post">
                  {% csrf_token %}
                  <input type="email" name="email" id="email" placeholder="you@email.com" required />
                  <input type="submit" value="Submit" />
                </form>
              </div>
            </div>
          </div>
          <p class="p-associate">For any other problems, please email <a class="a-associate" href="mailto:hello@hcommons.org">hello@hcommons.org</a>, if you need help. Please make sure to include this identifier: {{ cilogon_sub }}</p>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}
