{% extends "base.html" %}

{% block title %}
  Account Association
{% endblock title %}
{% block content %}
  <div class="container" id="main_container">
    <div class="row">
      <div class="col-12">
        <h1 class="h1-associate">Welcome to Knowledge Commons...</h1>
        <h3 class="h3-associate">Thank you for linking your account.</h3>
        <div>
          <p class="p-associate">Please check your email for a confirmation link.</p>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}
