{% extends "base.html" %}

{% block title %}
  Manage Login Methods
{% endblock title %}
{% block content %}
  <div class="container" id="main_container">
    <div class="row">
      <div class="col-12">
        <h1 class="h1-associate">Manage Login Methods</h1>

        <h2>Login Methods</h2>
        <h3 class="h3-manage">You currently have the following login methods available. <em>Warning:</em> If you delete all of them, you will need to re-associate a new login method with your existing email:</h3>
        <div>
          <table class="table table-danger table-bordered">
            <thead>
              <tr>
                <th>Provider</th>
                <th>Actions</th>
              </tr>
            </thead>
            {% for method in login_methods %}
              <tr>
                <td>{{ method.idp_name }}</td>
                <td>
                  <form action="{% url 'manage_login' user_name=request.user.username %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="idp_id" value="{{ method.id }}" />
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete the login method from \'{{ method.idp_name }}\'?');" />
                  </form>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <br/>
        <h2>Network Memberships</h2>
        <h3 class="h3-manage">You have the following organizational memberships, set using the APIs of these societies/organizations:</h3>
        <div>
          <ul>
            {% for membership in memberships %}
              <li>{{ membership }}</li>
            {% endfor %}
          </ul>
        </div>
        <h2>Emails</h2>
        <p>Primary email: {{ profile.email }}</p>
        {% if profile.emails|length > 0 %}<p>Other emails:</p>{% endif %}
        <ul>
          {% for email in profile.emails %}
            <li>{{ email }}</li>
          {% endfor %}
        </ul>
        <h2>Your Account</h2>
        <p>You can request a copy of your personal data by contacting us at <a href="mailto:hello@hcommons.org">hello@hcommons.org</a>.</p>
        <p>If you wish to close your account, please contact us at <a href="mailto:hello@hcommons.org">hello@hcommons.org</a>.</p>
        <p>For more information, please see the <a href="https://hcommons.org/privacy/">privacy policy</a>.</p>
      </div>
    </div>
  </div>
{% endblock content %}
