{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags crispy_forms_field %}

{% block content %}
<div class="container" id="main_container">

    <!-- jquery -->
    <script type='text/javascript'
            src='{% static "js/jquery-3.7.1.min.js" %}'
            id='jquery-core-js'></script>
    <script type='text/javascript'
            src='{% static "js/jquery-ui.min.js" %}'
            id='jquery-ui'></script>
    <script type='text/javascript'
            src='{% static "js/jquery-migrate-3.5.2.min.js" %}'
            id='jquery-migrate-js'></script>
    <script type='text/javascript'
            src='{% static "js/profile-sort.js" %}'
            id='profile-sort'></script>

    {{ form.media }}

  <form method="post" enctype="multipart/form-data" action="{% url "edit_profile" %}">
    {% csrf_token %}

    <!-- Profile Banner and Info -->
    <div class="row">
      <!--djlint:off -->
      <div class="profile-banner col-12 col-lg-12"
           style="background-image: url('https://hcommons.org/app/uploads/buddypress/members/1300/cover-image/5835a580b85b2-bp-cover-image.jpg');"
           id="profile-banner"
           hx-get="{% url 'cover_image' username=username %}"
           hx-trigger="load"
           hx-target="this"></div>
      <!--djlint:on -->
    </div>

    <div class="row">
      <!-- Profile Info -->
      <div
        class="col-12 col-lg-{% if logged_in_user_is_profile %}8{% else %}12{% endif %}">
        <div class="profile-info-card">
          <div class="profile-image-container"
            hx-get="{% url 'profile_image' username=username %}"
            hx-trigger="load"
            hx-target="this">
          </div>
          <h1 class="profile-title" id="profile-title" hx-swap-oob="true"></h1>
          <label for="id_name" class="form-label form-label-fixed">Name:</label> {% crispy_field form.name %} <br/>
          <label for="id_title" class="form-label form-label-fixed">Title:</label> {% crispy_field form.title %} <br/>
          <label for="id_affiliation" class="form-label form-label-fixed">Affiliation:</label> {% crispy_field form.institutional_or_other_affiliation %} <br/><br/>

          <div class="profile-social">
            <a href="#" class="social-link" id="mastodon_edit">
              <i class="fab fa-mastodon"></i>
              <label for="id_mastodon" class="form-label">Mastodon:</label> {% crispy_field form.mastodon %}
            </a>
            <a href="#" class="social-link" id="twitter_edit">
              <i class="fab fa-twitter"></i>
              <label for="id_twitter" class="form-label">X:</label> {% crispy_field form.twitter %}
            </a>
            <a href="#" class="social-link" id="bluesky_edit">
              <img class="bluesky" src="{% static "img/bluesky.png" %}"
                   alt="bluseky"/>
              <label for="id_bluesky" class="form-label">Bluesky:</label> {% crispy_field form.bluesky %}
            </a>
            <a href="{% url "profile" user=username %}" class="social-link"
               id="kc">
              <i class="fas fa-at"></i>
              <span>{{ username }}</span>
            </a>
            <a href="#" class="social-link" id="orcid_edit">
              <img src="{% static "img/iD-icon.png" %}" alt="ORCID"/>
              <label for="id_orcid" class="form-label">ORCID ID:</label> {% crispy_field form.orcid %}
            </a>
          </div>

          <div class="membership-badges" id="membership-badges"
               hx-get="{% url 'mysql_data' username=username %}"
               hx-trigger="load"
               hx-target="this">
          </div>
        </div>
      </div>

      <!-- Profile Stats -->
      {% if logged_in_user_is_profile %}
        <div class="col-12 col-lg-4">
          <div class="profile-stats-card">
            <h3 class="stat-header" id="following_edit">&nbsp;</h3>
            <div class="profile-actions">
              <input type="submit" class="action-btn primary" value="Save" id="save"/>
              <a href="#" class="action-btn">Change Profile Photo</a>
              <a href="#" class="action-btn">Change Cover Image</a>
            </div>
          </div>
        </div>
      {% endif %}

    </div>

    <!-- Main Content Grid -->
    <div class="row">
      <!-- Left Column - About -->
      <div class="col-12 col-lg-8" id="left_column">
        {% for left_id in left_order %}
          {% include "newprofile/fragments/"|add:left_id|add:"_edit.html" %}
        {% endfor %}
      </div>

      <!-- Right Column -->
      <div class="col-12 col-lg-4" id="right_column">
        {% for right_id in right_order %}
          {% include "newprofile/fragments/"|add:right_id|add:"_edit.html" %}
        {% endfor %}
      </div>
    </div>
  </form>
</div>
<input type="hidden" value="{% url "save_profile_order" "left" %}" id="save-profile-left"/>
<input type="hidden" value="{% url "save_profile_order" "right" %}" id="save-profile-right"/>
{% endblock content %}
