{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">

  <!-- Profile Banner and Info -->
  <div class="row">
    <!--djlint:off -->
    <div class="profile-banner col-12 col-lg-12"
         style="background-image: url('https://hcommons.org/app/uploads/buddypress/members/1300/cover-image/5835a580b85b2-bp-cover-image.jpg');"
         id="profile-banner"
         hx-get="{% url 'cover_image' username=username %}"
         hx-trigger="load"
         hx-target="this"></div>
    <!--djlint:on -->
  </div>

  <div class="row">
    <!-- Profile Info -->
    <div
      class="col-12 col-lg-{% if request.user.is_authenticated %}8{% else %}12{% endif %}">
      <div class="profile-info-card">
        <div class="profile-image-container"
          hx-get="{% url 'profile_image' username=username %}"
          hx-trigger="load"
          hx-target="this">
        </div>
        <h1 class="profile-title" id="profile-title" hx-swap-oob="true"></h1>
        <h2 class="profile-subtitle" id="profile-subtitle"></h2>
        <p class="profile-institution" id="profile-institution"></p>

        <div class="profile-social">
          <a href="#" class="social-link" id="mastodon">
            <i class="fab fa-mastodon"></i>
          </a>
          <a href="#" class="social-link" id="twitter">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-link" id="bluesky">
            <img class="bluesky" src="{% static "img/bluesky.png" %}"
                 alt="bluseky"/>
          </a>
          <a href="{% url "profile" user=username %}" class="social-link"
             id="kc">
            <i class="fas fa-at"></i>
            <span>{{ username }}</span>
          </a>
          <a href="#" class="social-link" id="orcid">
            <img src="{% static "img/iD-icon.png" %}" alt="ORCID"/>
          </a>
        </div>

        <div class="membership-badges" id="membership-badges"
             hx-get="{% url 'mysql_data' username=username %}"
             hx-trigger="load"
             hx-target="this">
        </div>
      </div>
    </div>

    <!-- Profile Stats -->
    {% if request.user.is_authenticated %}
      <div class="col-12 col-lg-4">
        <div class="profile-stats-card">
          <h3 class="stat-header" id="following"></h3>
          <div class="profile-actions">
            <a href="{% url "edit_profile" %}"
               class="action-btn primary">Edit</a>
            <a href="#" class="action-btn">Change Profile Photo</a>
            <a href="#" class="action-btn">Change Cover Image</a>
          </div>
        </div>
      </div>
    {% endif %}

  </div>

  <!-- Main Content Grid -->
  <div class="row">
    <!-- Left Column - About -->
    <div class="col-12 col-lg-8">
      <div class="content-card" id="about_user">
        <h3 class="card-title">About</h3>
        <div class="about-text"
             hx-get="{% url 'profile_info' username=username %}"
             hx-trigger="load"
             hx-target="this">
        </div>
      </div>

      <!-- Education -->
      <div class="content-card" id="education"></div>

      <!-- Works Deposits -->
      <div class="content-card" id="works"
           hx-get="{% url 'works_deposits' username=username %}"
           hx-trigger="load"
           hx-target="this"></div>

      <!-- Publications -->
      <div class="content-card" id="publications"></div>

      <!-- Projects -->
      <div class="content-card" id="projects"></div>

      <!-- Blog Posts -->
      <div class="content-card" id="blog-posts"
           hx-get="{% url 'blog_posts' username=username %}"
           hx-trigger="load"
           hx-target="this"></div>

      <!-- Mastodon Feed -->
      <div class="content-card" id="mastodon-feed"
           hx-get="{% url 'mastodon_feed' username=username %}"
           hx-trigger="load"
           hx-target="this"></div>
    </div>

    <!-- Right Column -->
    <div class="col-12 col-lg-4">
      <div class="content-card" id="academic-interests"></div>

      <div class="content-card" id="commons-groups"></div>

      <div class="content-card" id="commons-activity"></div>

      <div class="content-card" id="commons-sites"></div>
    </div>
  </div>
</div>

{% endblock content %}
