{% load crispy_forms_tags crispy_forms_field dict_filters %}
<div class="content-card sortable-item" id="works_form" hx-swap-oob="true">
  <h3 class="card-title">Works</h3>
  {% crispy_field form.show_works %}
  <!-- djlint:off H021 -->
  <label for="id_show_works_chart" style="display: inline-block; float:right; margin-top:-4em; margin-right: 1em;">Show chart</label>
  <!-- djlint:on -->
  {% crispy_field form.show_works_chart %}
  {% crispy_field form.reference_style %}
  <ul id="works" class="works-list" hx-trigger="load" hx-post="{% url 'works_deposits_edit' %}">
  </ul>
</div>
